{% extends 'layout.twig' %}

{% block content %}
<div class="row justify-content-center mt-5">
    <div class="col-md-6">
        <h2 class="text-center">Vincular ao Perfil uma Permissão</h2>

        {% include 'message/_alert.twig' %}

        <form method="POST" action="{{ path_for('linkRolePermission') }}" class="mt-4">
            <div class="mb-3">
                <label for="role_id" class="form-label">Perfil</label>
                <select class="form-select" id="role_id" name="role_id" required>
                    <option value="" disabled selected>Selecione um Perfil</option>
                    {% for role in roles %}
                    <option value="{{ role.id }}">{{ role.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="mb-3">
                <label for="permission_id" class="form-label">Permissão</label>
                <select class="form-select" id="permission_id" name="permission_id" required>
                    <option value="" disabled selected>Selecione uma Permissão</option>
                    {% for permission in permissions %}
                    <option value="{{ permission.id }}">{{ permission.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="d-grid">
                <button type="submit" class="btn btn-primary">Vincular</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
